Repository vpavlov-me/Bloomly, changes with the labels that .github/labeler.yml gives for each.
All labels: module:app, module:design-system, module:watch, module:sync, module:measurements, module:timeline, module:tracking, module:widgets, docs, ci, config

.github/labeler.yml:

module:app:
  - "App/**"
  - "Targets/**"
  - "Tests/**"

module:design-system:
  - "Packages/DesignSystem/**"

module:watch:
  - "Packages/WatchApp/**"

module:sync:
  - "Packages/Sync/**"

module:measurements:
  - "Packages/Measurements/**"

module:timeline:
  - "Packages/Timeline/**"

module:tracking:
  - "Packages/Tracking/**"

module:widgets:
  - "Packages/Widgets/**"

docs:
  - "Docs/**"
  - "*.md"
  - "**/*.md"

ci:
  - ".github/**"
  - "scripts/**"

config:
  - "Tuist/**"
  - "Workspace.swift"
  - "Project.swift"

feat(tests,i18n): implement comprehensive repository tests and localization
  Packages/Content/Sources/Content/Resources/en.lproj/Localizable.strings
  Packages/Content/Sources/Content/Resources/ru.lproj/Localizable.strings
  Tests/Unit/EventsRepositoryTests.swift
  Tests/Unit/MeasurementsRepositoryTests.swift
Labels: module:app

feat(accessibility): implement comprehensive accessibility support
  Docs/accessibility.md
  Packages/DesignSystem/Sources/DesignSystem/Accessibility/AccessibilityIdentifiers.swift
  Packages/DesignSystem/Sources/DesignSystem/Accessibility/AccessibilityModifiers.swift
  Packages/DesignSystem/Sources/DesignSystem/Components/EmptyStateView.swift
  Packages/DesignSystem/Sources/DesignSystem/Components/PrimaryButton.swift
Labels: module:design-system, docs

feat(error-handling): implement comprehensive error handling system
  Docs/error-handling.md
  Packages/DesignSystem/Sources/DesignSystem/Components/ErrorView.swift
  Packages/DesignSystem/Sources/DesignSystem/ErrorHandling/AppError.swift
  Packages/DesignSystem/Sources/DesignSystem/ErrorHandling/ErrorLogger.swift
  Packages/DesignSystem/Sources/DesignSystem/ErrorHandling/ErrorRecovery.swift
Labels: module:design-system, docs

Add mock events repository for tests
  Tests/Mocks/MockEventsRepository.swift
Labels: module:app

Refine project modules and docs
  .github/workflows/ci.yml
  App/Composition/DependencyContainer.swift
  App/Resources/BabyTrack.entitlements
  Docs/cloudkit.md
  IMPLEMENTATION_SUMMARY.md
  Packages/AppSupport/Package.swift
  Packages/AppSupport/Sources/AppSupport/Analytics.swift
  Packages/DesignSystem/Package.swift
  Packages/DesignSystem/Sources/DesignSystem/ErrorHandling/ErrorLogger.swift
  Packages/Measurements/Sources/Measurements/Infrastructure/InMemoryMeasurementsRepository.swift
  Packages/Tracking/Package.swift
  Packages/Tracking/Sources/Tracking/Domain/EventDraft.swift
  Packages/Tracking/Sources/Tracking/Domain/EventsRepository.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/InMemoryEventsRepository.swift
  Packages/Tracking/Sources/Tracking/UI/EventFormView.swift
  Packages/Tracking/Sources/Tracking/UI/QuickLogBar.swift
  Packages/Tracking/Tests/Tracking/InMemoryEventsRepositoryTests.swift
  Packages/Tracking/Tests/Tracking/TrackingRepositoryTests.swift
  Packages/WatchApp/Package.swift
  Packages/WatchApp/Sources/WatchApp/WatchDashboardView.swift
  Packages/WatchApp/Sources/WatchApp/WatchDataStore.swift
  Packages/WatchApp/Tests/WatchApp/WatchDashboardViewTests.swift
  Packages/WatchApp/Tests/WatchApp/WatchDataStoreTests.swift
  Project.swift
  README.md
  Targets/BabyTrackWatchExtension/BabyTrackWatchExtension.entitlements
  Targets/BabyTrackWidgets/BabyTrackWidgets.entitlements
  Tests/Unit/EventsRepositoryTests.swift
  Tests/Unit/MeasurementsRepositoryTests.swift
  Tuist/Config.swift
Labels: module:app, module:design-system, module:watch, module:measurements, module:tracking, docs, ci, config

feat(notifications): implement local notifications with quiet hours support
  App/BabyTrackApp.swift
  App/Composition/DependencyContainer.swift
  App/Services/NotificationManager.swift
  App/UI/MainTabView.swift
  Packages/Content/Sources/Content/AppCopy.swift
  Packages/Content/Sources/Content/Strings/en.lproj/Localizable.strings
  Packages/Content/Sources/Content/Strings/ru.lproj/Localizable.strings
  Tuist/Config.swift
Labels: module:app, config

feat(i18n): complete English and Russian localization
  App/UI/MainTabView.swift
  Packages/Content/Sources/Content/AppCopy.swift
  Packages/Content/Sources/Content/Strings/en.lproj/Localizable.strings
  Packages/Content/Sources/Content/Strings/ru.lproj/Localizable.strings
  Packages/DesignSystem/Sources/DesignSystem/Components/ErrorView.swift
  Packages/Measurements/Sources/Measurements/UI/MeasurementRow.swift
  Packages/Tracking/Sources/Tracking/UI/TimelineEventRow.swift
  Packages/WatchApp/Sources/WatchApp/AddMeasurementView.swift
  Packages/WatchApp/Sources/WatchApp/QuickLogView.swift
  Packages/WatchApp/Sources/WatchApp/RecentEventsView.swift
  Packages/WatchApp/Sources/WatchApp/WatchDashboardView.swift
  Packages/WatchApp/Sources/WatchApp/WatchRootView.swift
Labels: module:app, module:design-system, module:watch, module:measurements, module:tracking

feat(watchos): implement Watch Connectivity and complications
  App/Composition/DependencyContainer.swift
  Packages/WatchApp/Sources/WatchApp/ComplicationController.swift
  Packages/WatchApp/Sources/WatchApp/WatchConnectivityService.swift
  Packages/WatchApp/Sources/WatchApp/WatchDataStore.swift
Labels: module:app, module:watch

feat(settings): implement comprehensive Settings screen
  App/Settings/AppSettings.swift
  App/UI/MainTabView.swift
  App/UI/SettingsView.swift
  Packages/Content/Sources/Content/Strings/en.lproj/Localizable.strings
  Packages/Content/Sources/Content/Strings/ru.lproj/Localizable.strings
  Tuist/Config.swift
Labels: module:app, config

feat(profile): implement baby profile screen with photo management
  App/Profile/BabyProfile.swift
  App/UI/BabyProfileView.swift
  App/UI/SettingsView.swift
  Packages/Content/Sources/Content/Strings/en.lproj/Localizable.strings
  Packages/Content/Sources/Content/Strings/ru.lproj/Localizable.strings
Labels: module:app

feat(onboarding): implement 4-screen onboarding flow
  App/BabyTrackApp.swift
  App/Onboarding/OnboardingManager.swift
  App/Onboarding/OnboardingView.swift
  Packages/Content/Sources/Content/Strings/en.lproj/Localizable.strings
  Packages/Content/Sources/Content/Strings/ru.lproj/Localizable.strings
Labels: module:app

feat(widgets): implement iOS Home Screen widgets with WidgetKit
  App/BabyTrackApp.swift
  App/UI/MainTabView.swift
  App/Widgets/WidgetDeepLink.swift
  App/Widgets/WidgetReloader.swift
  Packages/Content/Sources/Content/Strings/en.lproj/Localizable.strings
  Packages/Content/Sources/Content/Strings/ru.lproj/Localizable.strings
  Packages/Widgets/Sources/Widgets/BabyTrackWidget.swift
  Packages/Widgets/Sources/Widgets/WidgetDataManager.swift
Labels: module:app, module:widgets

Add chart data aggregation infrastructure
  App/BabyTrackApp.swift
  App/Composition/DependencyContainer.swift
  Packages/Content/Package.swift
  Packages/Tracking/Package.swift
  Packages/Tracking/Sources/Tracking/Domain/ChartDataAggregator.swift
  Packages/Tracking/Sources/Tracking/Domain/ChartModels.swift
  Packages/Tracking/Tests/Tracking/ChartDataAggregatorTests.swift
Labels: module:app, module:tracking

chore: update Tuist configuration and content resources
  Packages/Content/Package.swift
  Packages/Content/Resources/en.lproj/Localizable.strings
  Packages/Content/Resources/ru.lproj/Localizable.strings
  Packages/Content/Sources/Content/Strings/en.lproj/Localizable.strings
  Packages/Content/Sources/Content/Strings/ru.lproj/Localizable.strings
  Packages/Widgets/Package.swift
  Project.swift
  Tuist/Config.swift
  mise.toml
  scripts/bootstrap.sh
Labels: module:widgets, ci, config

feat(charts): implement ChartsViewModel and SleepChartsView (#26, #23)
  Packages/Tracking/Sources/Tracking/UI/ChartsViewModel.swift
  Packages/Tracking/Sources/Tracking/UI/SleepChartsView.swift
  Packages/Tracking/Tests/Tracking/ChartsViewModelTests.swift
Labels: module:tracking

Add Xcode project files
  BabyTrack.xcodeproj/project.pbxproj
  BabyTrack.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BabyTrack.xcodeproj/xcshareddata/xcschemes/BabyTrack.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/BabyTrackWatch.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/BabyTrackWatchExtension.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/BabyTrackWidgets.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/ContentTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/DesignSystemTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/MeasurementsTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/PaywallTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/SyncTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/TimelineTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/TrackingTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/WatchAppTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcshareddata/xcschemes/WidgetsTestsTarget.xcscheme
  BabyTrack.xcodeproj/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  BabyTrack.xcworkspace/.tuist-generated
  BabyTrack.xcworkspace/contents.xcworkspacedata
  BabyTrack.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  BabyTrack.xcworkspace/xcshareddata/xcschemes/BabyTrack-Workspace.xcscheme
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/UserInterfaceState.xcuserstate
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  Derived/InfoPlists/BabyTrack-Info.plist
  Derived/InfoPlists/BabyTrackTests-Info.plist
  Derived/InfoPlists/BabyTrackUITests-Info.plist
  Derived/InfoPlists/BabyTrackWatch-Info.plist
  Derived/InfoPlists/BabyTrackWatchExtension-Info.plist
  Derived/InfoPlists/BabyTrackWidgets-Info.plist
  Derived/InfoPlists/ContentTestsTarget-Info.plist
  Derived/InfoPlists/DesignSystemTestsTarget-Info.plist
  Derived/InfoPlists/MeasurementsTestsTarget-Info.plist
  Derived/InfoPlists/PaywallTestsTarget-Info.plist
  Derived/InfoPlists/SyncTestsTarget-Info.plist
  Derived/InfoPlists/TimelineTestsTarget-Info.plist
  Derived/InfoPlists/TrackingTestsTarget-Info.plist
  Derived/InfoPlists/WatchAppTestsTarget-Info.plist
  Derived/InfoPlists/WidgetsTestsTarget-Info.plist
  Derived/Sources/TuistBundle+BabyTrack.swift
Labels: none

feat(charts): implement DailyRhythmView and FeedingChartsView (#25, #24)
  Packages/DesignSystem/Sources/DesignSystem/Theme.swift
  Packages/Tracking/Sources/Tracking/UI/DailyRhythmView.swift
  Packages/Tracking/Sources/Tracking/UI/FeedingChartsView.swift
Labels: module:design-system, module:tracking

test(timeline): expand TimelineViewModel test coverage (#31)
  Packages/Timeline/Tests/Timeline/TimelineViewModelTests.swift
Labels: module:timeline

feat: implement new app navigation structure with 4 tabs (#22)
  App/UI/MainTabView.swift
  App/UI/ProfileView.swift
  Packages/DesignSystem/Sources/DesignSystem/Components/ErrorView.swift
  Packages/Tracking/Sources/Tracking/Domain/EventKind.swift
  Packages/Tracking/Sources/Tracking/UI/ChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/DashboardView.swift
  Packages/Tracking/Sources/Tracking/UI/DashboardViewModel.swift
Labels: module:app, module:design-system, module:tracking

fix: resolve build errors in DesignSystem and WatchApp packages
  Packages/DesignSystem/Package.swift
  Packages/DesignSystem/Sources/DesignSystem/Accessibility/AccessibilityModifiers.swift
  Packages/DesignSystem/Sources/DesignSystem/Components/ChartCard.swift
  Packages/DesignSystem/Sources/DesignSystem/Components/PrimaryButton.swift
  Packages/DesignSystem/Sources/DesignSystem/ErrorHandling/ErrorRecovery.swift
  Packages/Tracking/Sources/Tracking/UI/SleepChartsView.swift
  Packages/WatchApp/Package.swift
Labels: module:design-system, module:watch, module:tracking

fix: resolve Swift 6 concurrency and type ambiguity issues
  App/UI/MainTabView.swift
  Packages/Measurements/Sources/Measurements/Infrastructure/CoreDataMeasurementsRepository.swift
  Packages/Measurements/Sources/Measurements/UI/MeasurementFormView.swift
  Packages/Paywall/Sources/Paywall/Infrastructure/StoreClient.swift
  Packages/Paywall/Sources/Paywall/UI/PaywallView.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/CoreDataEventsRepository.swift
  Packages/Tracking/Sources/Tracking/UI/ChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/DailyRhythmView.swift
Labels: module:app, module:measurements, module:tracking

fix(swift6): replace @Environment with explicit dependency injection
  App/UI/MainTabView.swift
  BabyTrack.xcodeproj/project.pbxproj
  BabyTrack.xcodeproj/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  BabyTrack.xcworkspace/xcshareddata/xcschemes/Generate Project.xcscheme
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/UserInterfaceState.xcuserstate
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  Derived/InfoPlists/BabyTrack-Info.plist
  Packages/Measurements/Sources/Measurements/Domain/MeasurementDTO.swift
  Packages/Sync/Sources/Sync/Infrastructure/TokenStorage.swift
  Packages/Timeline/Package.swift
  Packages/Timeline/Sources/Timeline/UI/TimelineView.swift
  Packages/Tracking/Sources/Tracking/Domain/ChartDataAggregator.swift
  Packages/Tracking/Sources/Tracking/Domain/EventDTO.swift
  Packages/Tracking/Sources/Tracking/UI/ChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/ChartsViewModel.swift
  Packages/Tracking/Sources/Tracking/UI/DailyRhythmView.swift
  Packages/Tracking/Sources/Tracking/UI/DashboardView.swift
  Packages/Tracking/Sources/Tracking/UI/EventFormView.swift
  Packages/Tracking/Sources/Tracking/UI/FeedingChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/QuickLogBar.swift
  Packages/Tracking/Sources/Tracking/UI/SleepChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/TimelineEventRow.swift
Labels: module:app, module:sync, module:measurements, module:timeline, module:tracking

feat: implement Core Data entities for Baby, Event, and Measurement (#9)
  .claude/cloude.md
  App/BabyTrackApp.swift
  App/Composition/DependencyContainer.swift
  App/CoreData/BabyTrackModel.xcdatamodeld/BabyTrackModel.xcdatamodel/contents
  App/Persistence/PersistenceController.swift
  App/Services/NotificationManager.swift
  BabyTrack.xcodeproj/project.pbxproj
  BabyTrack.xcodeproj/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  BabyTrack.xcworkspace/xcshareddata/xcschemes/Generate Project.xcscheme
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  Packages/Sync/Sources/Sync/Infrastructure/CloudKitSyncService.swift
  Packages/Tracking/Sources/Tracking/Domain/EventDTO.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/CoreDataEventsRepository.swift
  Packages/WatchApp/Sources/WatchApp/AddMeasurementView.swift
  Packages/WatchApp/Sources/WatchApp/EnvironmentKeys.swift
  Packages/WatchApp/Sources/WatchApp/WatchConnectivityService.swift
  Packages/Widgets/Sources/Widgets/BabyTrackWidget.swift
  Project.swift
  Targets/BabyTrackWidgets/Sources/BabyTrackWidgets.swift
Labels: module:app, module:watch, module:sync, module:tracking, module:widgets, docs, config

feat: Complete Core Data implementation with Baby entity and soft delete support (#51)
  .claude/cloude.md
  App/BabyTrackApp.swift
  App/Composition/DependencyContainer.swift
  App/CoreData/BabyTrackModel.xcdatamodeld/BabyTrackModel.xcdatamodel/contents
  App/Persistence/PersistenceController.swift
  App/Services/NotificationManager.swift
  App/UI/MainTabView.swift
  BabyTrack.xcodeproj/project.pbxproj
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/UserInterfaceState.xcuserstate
  Derived/InfoPlists/BabyTrack-Info.plist
  Packages/Measurements/Sources/Measurements/Domain/MeasurementDTO.swift
  Packages/Sync/Sources/Sync/Infrastructure/CloudKitSyncService.swift
  Packages/Sync/Sources/Sync/Infrastructure/TokenStorage.swift
  Packages/Timeline/Package.swift
  Packages/Timeline/Sources/Timeline/UI/TimelineView.swift
  Packages/Tracking/Sources/Tracking/Domain/ChartDataAggregator.swift
  Packages/Tracking/Sources/Tracking/Domain/EventDTO.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/CoreDataEventsRepository.swift
  Packages/Tracking/Sources/Tracking/UI/ChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/ChartsViewModel.swift
  Packages/Tracking/Sources/Tracking/UI/DailyRhythmView.swift
  Packages/Tracking/Sources/Tracking/UI/DashboardView.swift
  Packages/Tracking/Sources/Tracking/UI/EventFormView.swift
  Packages/Tracking/Sources/Tracking/UI/FeedingChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/QuickLogBar.swift
  Packages/Tracking/Sources/Tracking/UI/SleepChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/TimelineEventRow.swift
  Packages/WatchApp/Sources/WatchApp/AddMeasurementView.swift
  Packages/WatchApp/Sources/WatchApp/EnvironmentKeys.swift
  Packages/WatchApp/Sources/WatchApp/WatchConnectivityService.swift
  Packages/Widgets/Sources/Widgets/BabyTrackWidget.swift
  Project.swift
  Targets/BabyTrackWidgets/Sources/BabyTrackWidgets.swift
Labels: module:app, module:watch, module:sync, module:measurements, module:timeline, module:tracking, module:widgets, docs, config

feat: implement BabyRepository with photo handling and SwiftLint configuration (#3, #11)
  .swiftlint.yml
  Packages/Sync/Sources/Sync/Infrastructure/CloudKitSyncService.swift
  Packages/Tracking/Sources/Tracking/Domain/BabyDTO.swift
  Packages/Tracking/Sources/Tracking/Domain/BabyRepository.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/CoreDataBabyRepository.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/PhotoProcessor.swift
  Packages/Tracking/Tests/Tracking/BabyRepositoryTests.swift
  Project.swift
Labels: module:sync, module:tracking, config

feat: complete EventRepository implementation with batch operations and performance tests (#10)
  Packages/Tracking/Sources/Tracking/Domain/EventsRepository.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/CoreDataEventsRepository.swift
  Packages/Tracking/Tests/Tracking/EventsRepositoryPerformanceTests.swift
  Packages/Tracking/Tests/Tracking/EventsRepositoryTests.swift
Labels: module:tracking

feat: implement TelemetryDeck analytics and enhance domain models (#7, #12)
  Packages/AppSupport/ANALYTICS.md
  Packages/AppSupport/Package.swift
  Packages/AppSupport/Sources/AppSupport/Analytics.swift
  Packages/AppSupport/Sources/AppSupport/AnalyticsEventType.swift
  Packages/AppSupport/Sources/AppSupport/MockAnalytics.swift
  Packages/AppSupport/Sources/AppSupport/TelemetryDeckAnalytics.swift
  Packages/Tracking/Sources/Tracking/Domain/EventDTO.swift
Labels: module:tracking, docs

feat: implement Diaper Tracking feature with quick log UI (#15)
  Packages/Tracking/Sources/Tracking/Infrastructure/InMemoryEventsRepository.swift
  Packages/Tracking/Sources/Tracking/UI/DiaperTrackingView.swift
  Packages/Tracking/Sources/Tracking/UI/DiaperTrackingViewModel.swift
  Packages/Tracking/Tests/Tracking/DiaperTrackingViewModelTests.swift
Labels: module:tracking

feat: implement Pumping Tracking feature with timer and volume inputs (#16)
  Packages/Tracking/Sources/Tracking/UI/PumpingTrackingView.swift
  Packages/Tracking/Sources/Tracking/UI/PumpingTrackingViewModel.swift
  Packages/Tracking/Tests/Tracking/PumpingTrackingViewModelTests.swift
Labels: module:tracking

feat: Implement Sleep Tracking feature with timer and quality selection (#13)
  Packages/Tracking/Sources/Tracking/UI/SleepTrackingView.swift
  Packages/Tracking/Sources/Tracking/UI/SleepTrackingViewModel.swift
  Packages/Tracking/Tests/Tracking/SleepTrackingViewModelTests.swift
Labels: module:tracking

feat: Priority 1 & 2 - Foundation + Core Tracking Features
  .swiftlint.yml
  Packages/AppSupport/ANALYTICS.md
  Packages/AppSupport/Package.swift
  Packages/AppSupport/Sources/AppSupport/Analytics.swift
  Packages/AppSupport/Sources/AppSupport/AnalyticsEventType.swift
  Packages/AppSupport/Sources/AppSupport/MockAnalytics.swift
  Packages/AppSupport/Sources/AppSupport/TelemetryDeckAnalytics.swift
  Packages/Sync/Sources/Sync/Infrastructure/CloudKitSyncService.swift
  Packages/Tracking/Sources/Tracking/Domain/BabyDTO.swift
  Packages/Tracking/Sources/Tracking/Domain/BabyRepository.swift
  Packages/Tracking/Sources/Tracking/Domain/EventDTO.swift
  Packages/Tracking/Sources/Tracking/Domain/EventsRepository.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/CoreDataBabyRepository.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/CoreDataEventsRepository.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/InMemoryEventsRepository.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/PhotoProcessor.swift
  Packages/Tracking/Sources/Tracking/UI/DiaperTrackingView.swift
  Packages/Tracking/Sources/Tracking/UI/DiaperTrackingViewModel.swift
  Packages/Tracking/Sources/Tracking/UI/PumpingTrackingView.swift
  Packages/Tracking/Sources/Tracking/UI/PumpingTrackingViewModel.swift
  Packages/Tracking/Sources/Tracking/UI/SleepTrackingView.swift
  Packages/Tracking/Sources/Tracking/UI/SleepTrackingViewModel.swift
  Packages/Tracking/Tests/Tracking/BabyRepositoryTests.swift
  Packages/Tracking/Tests/Tracking/DiaperTrackingViewModelTests.swift
  Packages/Tracking/Tests/Tracking/EventsRepositoryPerformanceTests.swift
  Packages/Tracking/Tests/Tracking/EventsRepositoryTests.swift
  Packages/Tracking/Tests/Tracking/PumpingTrackingViewModelTests.swift
  Packages/Tracking/Tests/Tracking/SleepTrackingViewModelTests.swift
  Project.swift
Labels: module:sync, module:tracking, docs, config

feat: Implement Feeding Tracking feature with breast, bottle, and solid support (#14)
  Packages/Tracking/Sources/Tracking/UI/FeedingTrackingView.swift
  Packages/Tracking/Sources/Tracking/UI/FeedingTrackingViewModel.swift
  Packages/Tracking/Tests/Tracking/FeedingTrackingViewModelTests.swift
Labels: module:tracking

feat: Update EventKind and Dashboard for implemented tracking features (#18)
  Packages/Tracking/Sources/Tracking/Domain/EventDTO.swift
  Packages/Tracking/Sources/Tracking/Domain/EventKind.swift
  Packages/Tracking/Sources/Tracking/UI/DashboardView.swift
  Packages/Tracking/Sources/Tracking/UI/DashboardViewModel.swift
Labels: module:tracking

feat: Implement Timeline view with event history (#19)
  Packages/Tracking/Sources/Tracking/UI/TimelineView.swift
  Packages/Tracking/Sources/Tracking/UI/TimelineViewModel.swift
  Packages/Tracking/Tests/Tracking/TimelineViewModelTests.swift
Labels: module:tracking

feat: Implement Event Detail/Edit modal (#20)
  Packages/Tracking/Sources/Tracking/UI/EventDetailView.swift
  Packages/Tracking/Sources/Tracking/UI/EventDetailViewModel.swift
  Packages/Tracking/Tests/Tracking/EventDetailViewModelTests.swift
Labels: module:tracking

feat: Implement comprehensive snapshot testing infrastructure (#32)
  Docs/snapshot-testing.md
  Packages/Timeline/Tests/Timeline/TimelineSnapshotTests.swift
  Packages/Tracking/Package.swift
  Packages/Tracking/Sources/Tracking/Domain/ChartDataAggregator.swift
  Packages/Tracking/Sources/Tracking/Infrastructure/MockEventsRepository.swift
  Packages/Tracking/Sources/Tracking/UI/ChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/DailyRhythmView.swift
  Packages/Tracking/Sources/Tracking/UI/DashboardView.swift
  Packages/Tracking/Sources/Tracking/UI/EventDetailView.swift
  Packages/Tracking/Sources/Tracking/UI/FeedingChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/QuickLogBar.swift
  Packages/Tracking/Sources/Tracking/UI/SleepChartsView.swift
  Packages/Tracking/Sources/Tracking/UI/TimelineView.swift
  Packages/Tracking/Sources/Tracking/UI/TimelineViewModel.swift
  Packages/Tracking/Tests/Tracking/DashboardSnapshotTests.swift
  Packages/Tracking/Tests/Tracking/TrackingSnapshotTests.swift
  README.md
Labels: module:timeline, module:tracking, docs

feat: Add comprehensive performance testing and optimization guide (#33)
  Docs/performance-optimization.md
  Packages/Tracking/Tests/Tracking/PerformanceTests.swift
Labels: module:tracking, docs

chore: Update package dependencies and workspace configuration
  BabyTrack.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Packages/Sync/Package.resolved
  Packages/Tracking/Package.resolved
Labels: module:sync, module:tracking

feat: Define JSON schemas for all data models (#6)
  schemas/README.md
  schemas/app-state.schema.json
  schemas/baby.schema.json
  schemas/event.schema.json
  schemas/examples/app-state.example.json
  schemas/examples/baby.example.json
  schemas/examples/diaper-event.example.json
  schemas/examples/feeding-bottle-event.example.json
  schemas/examples/feeding-breast-event.example.json
  schemas/examples/measurement-height.example.json
  schemas/examples/measurement-weight.example.json
  schemas/examples/pumping-event.example.json
  schemas/examples/sleep-event.example.json
  schemas/measurement.schema.json
Labels: docs

feat: implement data export, WHO percentiles, toasts and docs
  BabyTrack.xcodeproj/project.pbxproj
  BabyTrack.xcodeproj/xcshareddata/xcschemes/BabyTrack.xcscheme
  BabyTrack.xcodeproj/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  BabyTrack.xcworkspace/xcshareddata/xcschemes/Generate Project.xcscheme
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/UserInterfaceState.xcuserstate
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  Docs/QA/qa-test-report.md
Labels: docs
