Repository vpavlov-me/Bloomly, changes with the labels that .github/labeler.yml gives for each.
All labels: module:app, module:design-system, module:watch, module:sync, module:measurements, module:timeline, module:tracking, module:widgets, docs, ci, config

Implement CloudKit sync and translate docs
  App/Composition/DependencyContainer.swift
  App/Settings/AppSettings.swift
  CONTRIBUTING.md
  Docs/architecture.md
  Docs/cloudkit.md
  Docs/github-workflow.md
  Docs/releases/README.md
  IMPLEMENTATION_SUMMARY.md
  Packages/Sync/Sources/Sync/Infrastructure/CloudKitSyncService.swift
  Packages/Sync/Sources/Sync/Infrastructure/TokenStorage.swift
  Packages/Sync/Tests/Sync/ChangeTrackerTests.swift
  Packages/Sync/Tests/Sync/CloudKitSyncServiceTests.swift
  README.md
  SECURITY.md
Labels: module:app, module:sync, docs

feat: Enhance DesignSystem and CI/CD workflows (#2, #4)
  .github/workflows/ci.yml
  .github/workflows/danger.yml
  Dangerfile
  Gemfile
  Packages/DesignSystem/Sources/DesignSystem/Theme.swift
Labels: module:design-system, ci

docs: Add DesignSystem usage guide
  Docs/design-system-guide.md
Labels: docs

feat: Implement Apple Watch quick actions (#39)
  Docs/watch-app-guide.md
  Packages/AppSupport/Sources/AppSupport/AnalyticsEventType.swift
  Packages/WatchApp/Sources/WatchApp/ComplicationController.swift
  Packages/WatchApp/Sources/WatchApp/ComplicationDataProvider.swift
  Packages/WatchApp/Sources/WatchApp/QuickActionsView.swift
  Packages/WatchApp/Sources/WatchApp/WatchDataStore.swift
  Packages/WatchApp/Sources/WatchApp/WatchRootView.swift
Labels: module:watch, docs

Fix compilation errors in main branch
  .package.resolved
  BabyTrack.xcodeproj/project.pbxproj
  BabyTrack.xcodeproj/xcshareddata/xcschemes/BabyTrack.xcscheme
  BabyTrack.xcworkspace/contents.xcworkspacedata
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/UserInterfaceState.xcuserstate
  Packages/Timeline/Tests/Timeline/TimelineSnapshotTests.swift
  Packages/Timeline/Tests/Timeline/TimelineViewModelTests.swift
  Packages/Tracking/Sources/Tracking/UI/DailyRhythmView.swift
  Packages/Tracking/Sources/Tracking/UI/EventDetailViewModel.swift
  Packages/Tracking/Sources/Tracking/UI/EventFormView.swift
  Packages/Tracking/Sources/Tracking/UI/FeedingTrackingViewModel.swift
  Packages/Tracking/Sources/Tracking/UI/SleepTrackingViewModel.swift
  Packages/Tracking/Tests/Tracking/ChartDataAggregatorTests.swift
  Packages/Tracking/Tests/Tracking/ChartsViewModelTests.swift
  Packages/Tracking/Tests/Tracking/DiaperTrackingViewModelTests.swift
  Packages/Tracking/Tests/Tracking/EventsRepositoryPerformanceTests.swift
  Packages/Tracking/Tests/Tracking/EventsRepositoryTests.swift
  Packages/Tracking/Tests/Tracking/InMemoryEventsRepositoryTests.swift
  Packages/WatchApp/Package.resolved
  Packages/WatchApp/Tests/WatchApp/WatchDataStoreTests.swift
  Tests/Snapshot/TimelineViewTests.swift
  Tests/Unit/DataExportServiceTests.swift
  Tests/Unit/EventsRepositoryTests.swift
Labels: module:app, module:watch, module:timeline, module:tracking

feat: Prepare for TestFlight and App Store release
  App/BabyTrackApp.swift
  App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  App/Resources/Assets.xcassets/AppIcon.appiconset/README.md
  App/Resources/Assets.xcassets/Contents.json
  App/Resources/BabyTrack.entitlements
  App/Settings/AppSettings.swift
  App/UI/MainTabView.swift
  AppStoreAssets/SCREENSHOT_GUIDE.md
  AppStoreAssets/metadata/app-description-en.txt
  AppStoreAssets/metadata/app-description-ru.txt
  BabyTrack.xcworkspace/contents.xcworkspacedata
  BabyTrack.xcworkspace/xcuserdata/pavlov.xcuserdatad/UserInterfaceState.xcuserstate
  Configuration.storekit
  Docs/file-tree.md
  Docs/performance-optimization.md
  PRIVACY.md
  Packages/Paywall/Sources/Paywall/UI/PaywallView.swift
  Packages/Timeline/Sources/Timeline/UI/TimelineView.swift
  QUICK_START.md
  RELEASE_MANUAL.md
  SECURITY.md
  TERMS.md
  scripts/update-bundle-ids.sh
Labels: module:app, module:timeline, docs, ci

Add GitHub Actions workflow for GitHub Pages deployment
  .github/workflows/static.yml
Labels: ci

Add GitHub Actions workflow for Jekyll deployment
  .github/workflows/jekyll-gh-pages.yml
Labels: ci

chore: Update Tuist-generated files after project rename
  Bloomly.xcodeproj/project.pbxproj
  Bloomly.xcodeproj/xcshareddata/xcschemes/Bloomly.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/BloomlyWatch.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/BloomlyWatchExtension.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/BloomlyWidgets.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/ContentTestsTarget.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/DesignSystemTestsTarget.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/MeasurementsTestsTarget.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/PaywallTestsTarget.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/SyncTestsTarget.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/TimelineTestsTarget.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/TrackingTestsTarget.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/WatchAppTestsTarget.xcscheme
  Bloomly.xcodeproj/xcshareddata/xcschemes/WidgetsTestsTarget.xcscheme
  Bloomly.xcodeproj/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  Bloomly.xcworkspace/contents.xcworkspacedata
  Bloomly.xcworkspace/xcshareddata/xcschemes/Bloomly-Workspace.xcscheme
  Bloomly.xcworkspace/xcshareddata/xcschemes/Generate Project.xcscheme
  Bloomly.xcworkspace/xcuserdata/pavlov.xcuserdatad/UserInterfaceState.xcuserstate
  Bloomly.xcworkspace/xcuserdata/pavlov.xcuserdatad/xcschemes/xcschememanagement.plist
  Derived/InfoPlists/BloomlyWatch-Info.plist
  Derived/InfoPlists/BloomlyWatchExtension-Info.plist
  Derived/Sources/TuistAssets+Bloomly.swift
  Derived/Sources/TuistBundle+Bloomly.swift
Labels: none

chore: Clean up Package.resolved
  Bloomly.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

fix: Rename Docs to docs for GitHub Pages compatibility
  Bloomly.xcworkspace/xcuserdata/pavlov.xcuserdatad/UserInterfaceState.xcuserstate
  docs/.nojekyll
  docs/QA/qa-test-report.md
  docs/accessibility.md
  docs/architecture.md
  docs/cloudkit.md
  docs/design-system-guide.md
  docs/error-handling.md
  docs/file-tree.md
  docs/github-workflow.md
  docs/index.html
  docs/performance-optimization.md
  docs/releases/README.md
  docs/snapshot-testing.md
  docs/watch-app-guide.md
Labels: docs

fix: Rename Docs to docs for GitHub Pages compatibility
  docs/.nojekyll
  docs/QA/qa-test-report.md
  docs/accessibility.md
  docs/architecture.md
  docs/cloudkit.md
  docs/design-system-guide.md
  docs/error-handling.md
  docs/file-tree.md
  docs/github-workflow.md
  docs/index.html
  docs/performance-optimization.md
  docs/releases/README.md
  docs/snapshot-testing.md
  docs/watch-app-guide.md
Labels: docs

.github/labeler.yml:

module:app:
  - "App/**"
  - "Targets/**"
  - "Tests/**"

module:design-system:
  - "Packages/DesignSystem/**"

module:watch:
  - "Packages/WatchApp/**"

module:sync:
  - "Packages/Sync/**"

module:measurements:
  - "Packages/Measurements/**"

module:timeline:
  - "Packages/Timeline/**"

module:tracking:
  - "Packages/Tracking/**"

module:widgets:
  - "Packages/Widgets/**"

docs:
  - "Docs/**"
  - "*.md"
  - "**/*.md"

ci:
  - ".github/**"
  - "scripts/**"

config:
  - "Tuist/**"
  - "Workspace.swift"
  - "Project.swift"
